<!doctype html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="icon" type="image/png" href="http://socialh4ck.com/site/wp-content/uploads/2016/10/cropped-512px-SH-1-192x192.png" />
      <title><%- title; %></title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/font-awesome.css">
      <link rel="stylesheet" href="/css/style.css">
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <% if (ENV_DEVELOPMENT) { %>
        <script src="http://localhost:35730/livereload.js"></script>
      <% } %>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand p-t-0" href="/">
                  <img src="/img/logo.png" height="50" alt="SocialH4ck">
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wiki <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/wiki/users">Users</a></li>
                          <li role="separator" class="divider"></li>
                      </ul>
                  </li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
      <div class="row">
          <div class="col-xs-12">