<% include header %>

    <div class="jumbotron">
        <h1><%-title; %></h1>
        <h3>Bienvenidos a la Wiki del REST API de <%-title; %></h3>
        <ul>
            <h3>Métodos</h3>
            <li>
                <a class="btn btn-primary btn-sm" href="wiki/users" role="button">Users</a>
            </li>
        </ul>
    </div>

<% include footer %>