<% include header %>
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h5>Método <%-title; %></h5>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <h4 class="list-group-item-heading">Obtener todos los usuarios</h4>
                <p class="list-group-item-text">
                    <strong>Método HTTP: <code class="text-info">GET</code></strong><br>
                    <strong>Content-Type:</strong> <code>application/json</code><br>
                    <strong>URL:</strong> <code>http://localhost:3500/api/v1/users</code><br>
                </p>
            </div>
            <div class="list-group">
                <h4 class="list-group-item-heading">Obtener un usuario por el ID</h4>
                <p class="list-group-item-text">
                    <strong>Método HTTP: <code class="text-info">GET</code></strong><br>
                    <strong>Content-Type:</strong> <code>application/json</code><br>
                    <strong>URL:</strong> <code>http://localhost:3500/api/v1/user/id</code><br>
                </p>
            </div>
            <div class="list-group">
                <h4 class="list-group-item-heading">Crear un usuario</h4>
                <p class="list-group-item-text">
                    <strong>Método HTTP: <code class="text-success">POST</code></strong><br>
                    <strong>Content-Type:</strong> <code>application/x-www-form-urlencoded</code><br>
                    <strong>URL:</strong> <code>http://localhost:3500/api/v1/user</code><br>
                </p>
            </div>
            <div class="list-group">
                <h4 class="list-group-item-heading">Actualizar un usuario</h4>
                <p class="list-group-item-text">
                    <strong>Método HTTP: <code class="text-warning">PUT</code></strong><br>
                    <strong>Content-Type:</strong> <code>application/x-www-form-urlencoded</code><br>
                    <strong>URL:</strong> <code>http://localhost:3500/api/v1/user/id</code><br>
                </p>
            </div>
            <div class="list-group">
                <h4 class="list-group-item-heading">Borrar un usuario</h4>
                <p class="list-group-item-text">
                    <strong>Método HTTP: <code class="text-danger">DELETE</code></strong><br>
                    <strong>Content-Type:</strong> <code>application/json</code><br>
                    <strong>URL:</strong> <code>http://localhost:3500/api/v1/user/id</code><br>
                </p>
            </div>
            <div class="list-group">
                <h4 class="list-group-item-heading">Actualizar un usuario</h4>
                <p class="list-group-item-text">
                    <strong>Método HTTP: <code class="text-info">GET</code></strong><br>
                    <strong>Content-Type:</strong> <code>application/json</code><br>
                    <strong>URL:</strong> <code>http://localhost:3500/api/v1/user/search/condition/value</code><br>
                    <strong>condition:</strong> Campo del documento. <br>
                    <strong>value:</strong> Valor en el campo.
                </p>
            </div>
        </div>
    </div>

<% include footer %>